#about {
	background-color: #181918
}

.about-block>p {
	color: white;
}

.about-block>h4 {
	color: white;
}

.title-text {
	text-shadow: 1px 1px 40px black;
}

.project-title {
	 color: var(--main-accent-color);
}

.card {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 100px	;
	perspective: 1000px;
}

.tile-wrapper {
	display: flex;
	min-height: 33%;
	justify-content: space-between;
	align-items: center;

}

.about-wrapper {
	display: flex;
	min-height: 30vw;
	flex-direction: row;
	flex-wrap: wrap;
}

#about {
	padding: 30px 0px;
}

.about-block {
	display: flex;
	align-items: center;
}

.front{
	background-repeat: no-repeat;
	background-size: cover;
	padding: 20px;
}

.back {
	color: white;
	font-weight: bold;
	transform: rotateY(180deg);
	padding: 20px;
}

.front, .back {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s;
	backface-visibility: hidden;
	border-radius: 10px;
}

.card:hover .front {
	transform: rotateY(180deg); 
	will-change: transform;
}

.card:hover .back {
	transform: rotateY(360deg);
	will-change: transform;
}

#portfolio {
	padding-top: 0px;
}
.portfolio-row {
	display:flex; 
	flex-wrap: wrap-reverse; 
	flex-direction: row;
}

@media (min-width: 2400px) {
.card {
	height: 58px;
	width: 58px;
}

.about-wrapper {
	min-height: 15vw;	
}
}

@media (max-width: 2400px) {
.card {
	height: 58px;
	width: 58px;
}

.about-wrapper {
	min-height: 25vw;	
}
}

@media (max-width: 1400px) {
.card {
	height: 58px;
	width: 58px;
}
}

@media (max-width: 768px) {
.tile-wrapper {
	margin: 10px;
}

.tiles-wrapper{
	margin-bottom: 20px;
}
}

